=begin
#Mailchimp Transactional API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.3.2
Contact: apihelp@mailchimp.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.12

=end

require 'uri'

module MailchimpTransactional
  class MctemplatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get Mailchimp Template info
    # Get information about a Mailchimp Transactional template in your account.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20029, Fixnum, Hash)>] InlineResponse20029 data, response status code and response headers
    def mc_templates_info(body = {})
      data = @api_client.call_api(:POST, '/mctemplates/info', body)
      data
    end

    # List Mailchimp Transactional Templates
    # Return a list of all Mailchimp Transactional templates available to this user.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InlineResponse20029>, Fixnum, Hash)>] Array<InlineResponse20029> data, response status code and response headers
    def mc_templates_list(body = {})
      data = @api_client.call_api(:POST, '/mctemplates/list', body)
      data
    end

    # Render Mailchimp Transactional Template
    # Render a Mailchimp Transactional template with optional merge variables.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20030, Fixnum, Hash)>] InlineResponse20030 data, response status code and response headers
    def mc_templates_render(body = {})
      data = @api_client.call_api(:POST, '/mctemplates/render', body)
      data
    end

    # Get Mailchimp Transactional Template Time Series
    # Return the recent history (hourly stats for the last 30 days) for a Mailchimp Transactional template. Returns an empty array if the template exists but has never been used to send messages.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InlineResponse20031>, Fixnum, Hash)>] Array<InlineResponse20031> data, response status code and response headers
    def mc_templates_time_series(body = {})
      data = @api_client.call_api(:POST, '/mctemplates/time-series', body)
      data
    end
  end
end
