=begin
#Mailchimp Transactional API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.3.1
Contact: apihelp@mailchimp.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.12

=end

require 'uri'

module MailchimpTransactional
  class SendersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Add sender domain
    # Adds a sender domain to your account. Sender domains are added automatically as you send, but you can use this call to add them ahead of time.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20050, Fixnum, Hash)>] InlineResponse20050 data, response status code and response headers
    def add_domain(body = {})
      data = @api_client.call_api(:POST, '/senders/add-domain', body)
      data
    end

    # Check domain settings
    # Checks the SPF and DKIM settings for a domain, as well the domain verification. If you haven&#39;t already added this domain to your account, it will be added automatically.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20052, Fixnum, Hash)>] InlineResponse20052 data, response status code and response headers
    def check_domain(body = {})
      data = @api_client.call_api(:POST, '/senders/check-domain', body)
      data
    end

    # Delete sender domain
    # Deletes an unverified sender domain from your account. Verified domains cannot be deleted via API and require login confirmation.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20051, Fixnum, Hash)>] InlineResponse20051 data, response status code and response headers
    def delete_domain(body = {})
      data = @api_client.call_api(:POST, '/senders/delete-domain', body)
      data
    end

    # List sender domains
    # Returns the sender domains that have been added to this account.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InlineResponse20049>, Fixnum, Hash)>] Array<InlineResponse20049> data, response status code and response headers
    def domains(body = {})
      data = @api_client.call_api(:POST, '/senders/domains', body)
      data
    end

    # Get sender info
    # Return more detailed information about a single sender, including aggregates of recent stats.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20054, Fixnum, Hash)>] InlineResponse20054 data, response status code and response headers
    def info(body = {})
      data = @api_client.call_api(:POST, '/senders/info', body)
      data
    end

    # List account senders
    # Return the senders that have tried to use this account.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InlineResponse20048>, Fixnum, Hash)>] Array<InlineResponse20048> data, response status code and response headers
    def list(body = {})
      data = @api_client.call_api(:POST, '/senders/list', body)
      data
    end

    # View sender history
    # Return the recent history (hourly stats for the last 30 days) for a sender.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InlineResponse20055>, Fixnum, Hash)>] Array<InlineResponse20055> data, response status code and response headers
    def time_series(body = {})
      data = @api_client.call_api(:POST, '/senders/time-series', body)
      data
    end

    # Verify domain
    # Sends a verification email in order to verify ownership of a domain. Domain verification is a required step to confirm ownership of a domain. Once a domain has been verified in a Transactional API account, other accounts may not have their messages signed by that domain unless they also verify the domain. This prevents other Transactional API accounts from sending mail signed by your domain.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20053, Fixnum, Hash)>] InlineResponse20053 data, response status code and response headers
    def verify_domain(body = {})
      data = @api_client.call_api(:POST, '/senders/verify-domain', body)
      data
    end
  end
end
