=begin
#Mailchimp Transactional API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.0.9
Contact: apihelp@mandrill.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.12

=end

require 'uri'

module MailchimpTransactional
  class SendersApi
    attr_accessor :api_client

    attr_accessor :api_key

    def initialize(api_key = '', api_client = ApiClient.default)
      @api_key = api_key
      @api_client = api_client
    end
    # Add sender domain
    # Adds a sender domain to your account. Sender domains are added automatically as you send, but you can use this call to add them ahead of time.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20042]
    def add_domain(body = {}, opts = {})
      data = add_domain_with_http_info(body, opts)
      data
    end

    # Add sender domain
    # Adds a sender domain to your account. Sender domains are added automatically as you send, but you can use this call to add them ahead of time.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20042, Fixnum, Hash)>] InlineResponse20042 data, response status code and response headers
    def add_domain_with_http_info(body, opts = {})
      # add api key to request body
      body[:key] = @api_key

      # resource path
      local_var_path = '/senders/add-domain'

      # http body (model)
      data = @api_client.call_api(:POST, local_var_path, :body => body)
      return data
    end
    # Check domain settings
    # Checks the SPF and DKIM settings for a domain. If you haven't already added this domain to your account, it will be added automatically.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20043]
    def check_domain(body = {}, opts = {})
      data = check_domain_with_http_info(body, opts)
      data
    end

    # Check domain settings
    # Checks the SPF and DKIM settings for a domain. If you haven&#39;t already added this domain to your account, it will be added automatically.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20043, Fixnum, Hash)>] InlineResponse20043 data, response status code and response headers
    def check_domain_with_http_info(body, opts = {})
      # add api key to request body
      body[:key] = @api_key

      # resource path
      local_var_path = '/senders/check-domain'

      # http body (model)
      data = @api_client.call_api(:POST, local_var_path, :body => body)
      return data
    end
    # List sender domains
    # Returns the sender domains that have been added to this account.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<InlineResponse20041>]
    def domains(body = {}, opts = {})
      data = domains_with_http_info(body, opts)
      data
    end

    # List sender domains
    # Returns the sender domains that have been added to this account.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InlineResponse20041>, Fixnum, Hash)>] Array<InlineResponse20041> data, response status code and response headers
    def domains_with_http_info(body, opts = {})
      # add api key to request body
      body[:key] = @api_key

      # resource path
      local_var_path = '/senders/domains'

      # http body (model)
      data = @api_client.call_api(:POST, local_var_path, :body => body)
      return data
    end
    # Get sender info
    # Return more detailed information about a single sender, including aggregates of recent stats.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20045]
    def info(body = {}, opts = {})
      data = info_with_http_info(body, opts)
      data
    end

    # Get sender info
    # Return more detailed information about a single sender, including aggregates of recent stats.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20045, Fixnum, Hash)>] InlineResponse20045 data, response status code and response headers
    def info_with_http_info(body, opts = {})
      # add api key to request body
      body[:key] = @api_key

      # resource path
      local_var_path = '/senders/info'

      # http body (model)
      data = @api_client.call_api(:POST, local_var_path, :body => body)
      return data
    end
    # List account senders
    # Return the senders that have tried to use this account.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<InlineResponse20040>]
    def list(body = {}, opts = {})
      data = list_with_http_info(body, opts)
      data
    end

    # List account senders
    # Return the senders that have tried to use this account.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InlineResponse20040>, Fixnum, Hash)>] Array<InlineResponse20040> data, response status code and response headers
    def list_with_http_info(body, opts = {})
      # add api key to request body
      body[:key] = @api_key

      # resource path
      local_var_path = '/senders/list'

      # http body (model)
      data = @api_client.call_api(:POST, local_var_path, :body => body)
      return data
    end
    # View sender history
    # Return the recent history (hourly stats for the last 30 days) for a sender.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<InlineResponse20046>]
    def time_series(body = {}, opts = {})
      data = time_series_with_http_info(body, opts)
      data
    end

    # View sender history
    # Return the recent history (hourly stats for the last 30 days) for a sender.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InlineResponse20046>, Fixnum, Hash)>] Array<InlineResponse20046> data, response status code and response headers
    def time_series_with_http_info(body, opts = {})
      # add api key to request body
      body[:key] = @api_key

      # resource path
      local_var_path = '/senders/time-series'

      # http body (model)
      data = @api_client.call_api(:POST, local_var_path, :body => body)
      return data
    end
    # Verify domain
    # Sends a verification email in order to verify ownership of a domain. Domain verification is a required step to confirm ownership of a domain. Once a domain has been verified in a Transactional API account, other accounts may not have their messages signed by that domain unless they also verify the domain. This prevents other Transactional API accounts from sending mail signed by your domain.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20044]
    def verify_domain(body = {}, opts = {})
      data = verify_domain_with_http_info(body, opts)
      data
    end

    # Verify domain
    # Sends a verification email in order to verify ownership of a domain. Domain verification is a required step to confirm ownership of a domain. Once a domain has been verified in a Transactional API account, other accounts may not have their messages signed by that domain unless they also verify the domain. This prevents other Transactional API accounts from sending mail signed by your domain.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20044, Fixnum, Hash)>] InlineResponse20044 data, response status code and response headers
    def verify_domain_with_http_info(body, opts = {})
      # add api key to request body
      body[:key] = @api_key

      # resource path
      local_var_path = '/senders/verify-domain'

      # http body (model)
      data = @api_client.call_api(:POST, local_var_path, :body => body)
      return data
    end
  end
end
